<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.rbac.mapper.PermissionMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.rbac.domain.Permission" >
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="expression" property="expression" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from permission
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="cn.wolfcode.rbac.domain.Permission" useGeneratedKeys="true" keyProperty="id" >
    insert into permission (name, expression)
    values (#{name}, #{expression})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.rbac.domain.Permission" >
    update permission
    set name = #{name},
      expression = #{expression}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, name, expression
    from permission
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, expression
    from permission
  </select>
</mapper>